<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/register.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col col-2">
                    <div class="header__logo">
                        <a href="#">
                            <img width="19%" src="../static/img/logo-header.jpg" alt="">
                        </a>
                    </div>
                    <!--End .header__logo-->
                </div>
                <div class="col col-8">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Trường</a></li>
                            <li><a href="#">Khối</a></li>
                            <li><a href="#">Đề các năm</a></li>
                            <li><a href="#">Tin tức</a></li>
                            <li><a href="#">Liên hệ</a></li>
                            <li><a href="#"><img src="" /></a></li>
                        </ul>
                    </nav>
                    <!--End .header__menu-->
                </div>
                <!-- <div class="col col-2">
                    <div class="header__hotline">
                        <div class="header__hotline--inner">
                            <span>Hotline 24/7</span>
                            <span>090.154.8866</span>
                        </div>
                    </div> -->
                <!--End .header__hotline-->
                <!-- </div> -->
            </div>
        </div>
    </header>

    <div class="register-box ">
        <div class="container d-flex ">
            <div class="card card-register">
                <div class="card-logo" >
                    <img  src="../static/img/boy-1837466.svg" alt="">
                </div>
            </div>

            <form action="" >
                <div class="register-form">
                    <div class="register-title">
                        <h2>Đăng kí</h2>
                    </div>
                    <div class="name-register ">
                        <label for="name" class="">
                            Họ tên:
                        </label>
                        <input type="text" id="name" class="form-control input-register ">
                    </div>

                    <div class="email-register ">
                        <label for="email">Email:</label>
                        <input type="text" id="email" class="form-control  input-register">
                    </div>
                    <div class="username-register ">
                        <label for="username">
                            Tài khoản:
                        </label>
                        <input type="text" class="form-control input-register" id="username">
                    </div>
                    <div class="password-box">
                        <div class="password-register ">
                            <label for="password">Mật khẩu:</label>
                            <input type="password" class="form-control input-register" id="password">
                        </div>
                        <div class="re-password-register ">
                            <label for="re-password">Nhập lại mật khẩu:</label>
                            <input type="password" class="form-control input-register" id="re-password">
                        </div>
                    </div>
                    <div class="submit-register">
                        
                        <button class="btn "> Đăng kí</button>
                    </div>
                </div>
               
            </form>
        </div>
    </div>
</body>

</html>